<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--CSS LINK-->
    <link rel="stylesheet" href="css/style.css">

    <!--FONT-AWESOME LINK-->
    <script src="https://kit.fontawesome.com/6fb02f83a5.js" crossorigin="anonymous"></script>

    <!--CSS for mobile and tablets-->
    <link rel="stylesheet" href="css/others.css">


    <!--JQuery-Link-->
   <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script> 

    <title> Weather App</title>
</head>

<body>

    <div class="overlay">
    </div>

    <div class="weather-app-body">
        <div class="weather-container">
            <div class="app-info center">
                <label>Weather Finder <i>v1.0</i> </label>
                <p class="created-by center"> <i>by</i> Brijesh Yadav</p>
            </div>
            <form class="finder center" action="submit">
                <input type="text" class="finder-input" placeholder="  Enter your city" required><br>
                <button class="btn">search</button>
            </form>
            <div class="search-result">
                <div class="date-place center">
                    <label for="date" id="date">SAT 03 JAN 2020</label>
                    <label for="place" id="place">New York, USA</label>
                </div>
                <div class="logo-temp center" id="iconTemp">
                    <canvas id="icon" width="90" height="90">
                    </canvas>
                    <div class="summary center">
                        <label for="number" id="temp">34°C</label>
                        <label for="summary" class="center" id="summary">sunny day</label>
                    </div>

                </div>
            </div>

            <div class="add-info ">
                <label for="add">Additional Information</label>
                <div class="add-info-item">
                    <label>High/Low </label>
                    <label id="tempHL" class="add-o">37°C/32°C</label>
                </div>
                <div class="add-info-item">
                    <label>Wind</label>
                    <label id="windSpeed" class="add-o">32 Km/hr</label>
                </div>
                <div class="add-info-item">
                    <label>Humidity</label>
                    <label id="humidity" class="add-o" >43%</label>
                </div>
                <div class="add-info-item">
                    <label>Visibility</label>
                    <label id="visibility"  class="add-o">9m</label>
                </div>
            </div>
        </div>
    </div>


  
    <script src="/js/skycons.js"></script>

    <script>

        var icons = new Skycons({ color: "aqua" });

        icons.set("icon", "partly-cloudy-day");

        icons.play();

    </script>
  
  
<script src="/js/app.js"></script>
  
</body>

</html>