* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    i {
        font-size: 50px;
        color: #fff;
        margin-left: 4rem;
    }

    .center {
        text-align: center;
    }

    #header {
        position: sticky;
        background: #2b2b28;
        border-bottom: 0.5px solid #3a3a36;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;

        #nav-bar ul{   
         display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: center;
          list-style: none;
         
        li{
            margin: 0 0.5rem;
            padding: 1rem;
            border-radius: 5px;
            background: #fff;
           
            a{
                color: #000;
                font-weight: 300;
                font-size: 15px;
                text-decoration: none;
            }
        }


        }
    }

}


