//777788
//313549
//F8aa9d
//E7170A


* {
    margin: 0;
    padding: 0;
}

body {
    background: #2b2b28;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    font-weight: 200;
    display: flex;
    justify-content: center;


    .center {
        text-align: center;
    }

    .app-info i {
        font-size: 15px;
        font-weight: 100;
    }


    h2 {
        font-size: 5px;
    }


    .add-info label {
        font-size: 20px;
    }

    .created-by {
        font-weight: 100;
        font-size: 15px;
        color: aqua;

        i {
            color: #fff;
        }
    }

    .center {
        text-align: center;
    }


    label[for='add'] {
        margin: 1rem;
        text-align: left;
    }

    .weather-app-body {
        border: #0b1130 2px solid;
        background: #0b1130;
        min-width: 45%;
        min-height: 100%;
        border-radius: 5px;

        .weather-container {
            margin: 8% 4%;
            max-width: 100%;
            min-height: 600px;



            .finder {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .finder-input {
                font-size: 17px;
                color: #fff;
                background: transparent;
                border: none;
                border-bottom: solid #777788 1px;
                text-decoration: none;
                outline: none;
                margin-top: 2em;
                margin-bottom: 1em;
                width: 60%;
                height: 30px;
            }

            .finder-input:hover {
                border-bottom: #fff solid 1px;
            }

            .btn {
                font-size: 17px;
                margin: 2em 0 1em 1.5em;
                border: none;
                width: 20%;
                height: 33px;
                background: #e22a2a;
                border-radius: 7px;
                color: #ffff;
                outline: none;
            }

            .btn:hover {
                background: #d11212;
            }

            .search-result {
                margin: 0.25rem 1rem;


                .date-place {
                    background: #777788;
                    font-size: 16px;
                    border-radius: 10px;
                    padding: 3% 5%;
                    margin-bottom: 1rem;
                    min-height: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    label[for='place'] {
                        color: aqua;
                    }
                }

                .date-place:hover {
                    border: solid 1px #fff;
                }

                .logo-temp {
                    background: #777788;
                    border-radius: 10px;
                    min-height: 5rem;
                    padding: 3% 5%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;


                    .summary {
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;

                    }

                    i {
                        font-size: 80px;
                    }

                    label[for='number'] {

                        font-size: 30px;
                        color: aqua;
                
                    }

                    label[for='summary'] {
                        font-size: 18px;
                        margin-top: 1%;
                    }
                }

                .logo-temp:hover {
                    border: solid 1px #fff;
                }
            }

            .add-info {
                margin: 3.5rem 0;
                height: 100px;
                text-align: center;
                height: 100%;

                .add-info-item {
                    background-color: #777788;
                    font-size: 10px;
                    margin: 0.2rem 1rem;
                    padding: 15px 15px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                }

                .add-info-item:hover {
                    border: solid 1px #fff;
                }

               

            }

        }
    }
}