* {
  margin: 0;
  padding: 0;
}

body {
  background: #2b2b28;
  color: #ffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 27px;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .center {
  text-align: center;
}

body .app-info i {
  font-size: 15px;
  font-weight: 100;
}

body h2 {
  font-size: 5px;
}

body .add-info label {
  font-size: 20px;
}

body .created-by {
  font-weight: 100;
  font-size: 15px;
  color: #5debfd;
}

body .created-by i {
  color: #fff;
}

body .center {
  text-align: center;
}

body label[for='add'] {
  margin: 1rem;
  text-align: left;
}

body .weather-app-body {
  border: #0b1130 2px solid;
  background: #0b1130;
  min-width: 45%;
  min-height: 100%;
  border-radius: 5px;
}

body .weather-app-body .weather-container {
  margin: 8% 4%;
  max-width: 100%;
  min-height: 600px;
}

body .weather-app-body .weather-container .finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .weather-app-body .weather-container .finder-input {
  font-size: 17px;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: solid #777788 1px;
  text-decoration: none;
  outline: none;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 60%;
  height: 30px;
}

body .weather-app-body .weather-container .finder-input:hover {
  border-bottom: #fff solid 1px;
}

body .weather-app-body .weather-container .btn {
  font-size: 17px;
  margin: 2em 0 1em 1.5em;
  border: none;
  width: 20%;
  height: 33px;
  background: #e22a2a;
  border-radius: 7px;
  color: #ffff;
  outline: none;
}

body .weather-app-body .weather-container .btn:hover {
  background: #d11212;
}

body .weather-app-body .weather-container .search-result {
  margin: 0.25rem 1rem;
}

body .weather-app-body .weather-container .search-result .date-place {
  background: #777788;
  font-size: 16px;
  border-radius: 10px;
  padding: 3% 5%;
  margin-bottom: 1rem;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .weather-app-body .weather-container .search-result .date-place label[for='place'] {
  color: #5debfd;
}

body .weather-app-body .weather-container .search-result .date-place:hover {
  border: solid 1px #fff;
}

body .weather-app-body .weather-container .search-result .logo-temp {
  background: #777788;
  border-radius: 10px;
  min-height: 5rem;
  padding: 3% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .weather-app-body .weather-container .search-result .logo-temp .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

body .weather-app-body .weather-container .search-result .logo-temp i {
  font-size: 80px;
}

body .weather-app-body .weather-container .search-result .logo-temp label[for='number'] {
  font-size: 30px;
  color: #5debfd;
  margin-left: 3%;
}

body .weather-app-body .weather-container .search-result .logo-temp label[for='summary'] {
  font-size: 18px;
}

body .weather-app-body .weather-container .search-result .logo-temp:hover {
  border: solid 1px #fff;
}

body .weather-app-body .weather-container .add-info {
  margin: 3.5rem 0;
  height: 100px;
  text-align: center;
  height: 100%;
}

body .weather-app-body .weather-container .add-info .add-info-item {
  background-color: #777788;
  font-size: 10px;
  margin: 0.2rem 1rem;
  padding: 15px 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .weather-app-body .weather-container .add-info .add-info-item:hover {
  border: solid 1px #fff;
}
/*# sourceMappingURL=style.css.map */